body {
    background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm281batch2-nunny-004-g.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=bf15eb61b31502cba86cfc80ddd73ed1");
    background-repeat: no-repeat
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    height: 100vh;
}

h1 {
    margin-top: 50px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
}

p{
   font-size: 10px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    background: white;
}

#increment-btn {
    border: 2px solid darkred;
    color: darkred;
}
#increment-btn:hover {
    border: 2px solid darkred;
    color: white;
    background: darkred;
}

#save-btn {
    border: 2px solid darkgreen;
    color: darkgreen;
}

#save-btn:hover {
    border: 2px solid darkgreen;
    color: white;
    background: darkgreen;
}

.container{
    background: white;
    max-width: 80%;
    margin: auto;
    border: 3px solid black;
    border-radius: 10px;
}



